In [15]:
pip install plotly

Collecting plotly
  Downloading plotly-5.6.0-py2.py3-none-any.whl (27.7 MB)
Collecting tenacity>=6.2.0Note: you may need to restart the kernel to use updated packages.

  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\dexzhan1\anaconda3\lib\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.6.0 tenacity-8.0.1

In [16]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from pyecharts.charts import Sankey
from pyecharts import options as opts
import plotly.graph_objects as go

In [5]:
df = pd.read_excel("Sankey.xlsx")

In [6]:
df.head(5)

  Gruppe Herkunftsberuf Gruppe Zielberuf  Anzahl  Förderwirkung
0                    AA                A    1000           0.01
1                    AA                B     200           0.02
2                    AA                C     600           0.03
3                    AA                D    3000           0.04
4                    AA                E     780           0.05

In [7]:
nodes = []
for i in range(2):
    values = df.iloc[:, i].unique()
    for value in values:
        dic = {}
        dic['name'] = value
        nodes.append(dic)
        
nodes

[{'name': 'AA'},
 {'name': 'BB'},
 {'name': 'A'},
 {'name': 'B'},
 {'name': 'C'},
 {'name': 'D'},
 {'name': 'E'},
 {'name': 'F'},
 {'name': 'G'},
 {'name': 'H'},
 {'name': 'I'},
 {'name': 'J'},
 {'name': 'K'}]

In [8]:
links = []
for i in df.values:
    dic = {}
    dic['source'] = i[0]
    dic['target'] = i[1]
    dic['value'] = i[2]
    links.append(dic)

links

[{'source': 'AA', 'target': 'A', 'value': 1000},
 {'source': 'AA', 'target': 'B', 'value': 200},
 {'source': 'AA', 'target': 'C', 'value': 600},
 {'source': 'AA', 'target': 'D', 'value': 3000},
 {'source': 'AA', 'target': 'E', 'value': 780},
 {'source': 'AA', 'target': 'F', 'value': 50},
 {'source': 'AA', 'target': 'G', 'value': 20},
 {'source': 'AA', 'target': 'H', 'value': 1200},
 {'source': 'AA', 'target': 'I', 'value': 1500},
 {'source': 'AA', 'target': 'J', 'value': 1800},
 {'source': 'AA', 'target': 'K', 'value': 2100},
 {'source': 'BB', 'target': 'A', 'value': 1000},
 {'source': 'BB', 'target': 'B', 'value': 200},
 {'source': 'BB', 'target': 'C', 'value': 600},
 {'source': 'BB', 'target': 'D', 'value': 3000},
 {'source': 'BB', 'target': 'E', 'value': 780},
 {'source': 'BB', 'target': 'F', 'value': 50},
 {'source': 'BB', 'target': 'G', 'value': 20},
 {'source': 'BB', 'target': 'H', 'value': 1200},
 {'source': 'BB', 'target': 'I', 'value': 1500},
 {'source': 'BB', 'target': 'J', 'value': 1800},
 {'source': 'BB', 'target': 'K', 'value': 2100}]

In [18]:
fig = (
    Sankey()
    .add('',
         nodes,
         links,
         linestyle_opt = opts.LineStyleOpts(opacity = 0.3, curve = 0.5, color = 'source'),
         label_opts = opts.LabelOpts(position = 'right'),
         node_gap = 30
        )
)

fig.render('Sankey_test.html')

'C:\\Users\\DEXZHAN1\\Sankey_test.html'

In [ ]:
fig.render('Sankey_test.html')